body {
  background-image: url(images/background.gif);
  background-size: repeat;
}

.score_display{
  color: #4d94ff;
  font-family: impact;
}

th.block {
   content:url(images/comet-ms-still.gif);
   padding: 0px;
   background-color: transparent;
   display: inline-block;
}​

.offscreen {
  padding: 50px;
}

.frame {
  position: relative;
}

#game-frame {
  width: 100%;
  height: 810px;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
}

.game-image {
  max-width: 300px;
  max-height: 100%;
  border-radius: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

th, td {
  content:url(images/empty-still.gif);
  display: inline-block;
}

#player {
  content:url(images/play-m.gif);
  padding: 0px;
  background-color: transparent;
  display: inline-block;
  margin-left: 9px;
  margin-right: 9px;
}

.block {
  background-color: red;
}

.homepage {
  color: #4d94ff;
  font-family: impact;
  font-size: 25px;
}

.fireball {
   content:url("images/blue-fireball-m.gif");
   padding: 0px;
   background-color: transparent;
   display: inline-block;
}​
